@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animateGrain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-10%, -15%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-10%, -15%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-10%, -15%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-10%, -15%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-10%, -15%);
  }
}

.bg-noise {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
  height: 200%;
  width: 200%;
  position: fixed;
  opacity: 0.04;
}

.animate-grain {
  animation: animateGrain 8s steps(8) infinite;
}
